@model IEnumerable<ToDoList.MVC.ModelsView.ToDoViewModel>

@{
    ViewBag.Title = "Index";
}

<br/>
<p>
    <a href="#" class="btn btn-success" data-action="criar">
        <span class='glyphicon glyphicon-plus'></span> Nova Tarefa
    </a>
</p>

<table id="todo-data" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="ToDoId" data-visible="false">ID</th>
            <th data-column-id="Title" data-width="20%">Titulo</th>
            <th data-column-id="Description">Descrição</th>
            <th data-column-id="IsCompleted" data-align="center" data-width="10%" align="center" data-formatter="completed">Concluida?</th>
            <th data-column-id="CreateDate" data-align="center" data-width="15%"  data-order="desc" data-formatter="dateformatter">Data de cadastro</th>
            <th data-formatter="actions"  data-width="15%" data-align="center"> </th>
        </tr>
    </thead>
</table>
<div class="modal fade" id="modalTarefas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="conteudoModal"></div>
      </div>      
    </div>
  </div>
</div>
    
@section scripts{  
     <script type="text/javascript">
        var controller = "Tarefas";        
    </script>
    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/toDoScript.js"></script>
   
}
